.navbar{
    background-color: #2F4050;
    height: 0px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #2F4050;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    transition: 850ms;
}

.nav-menu.active {
    width: 200px;
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 12px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px; 
    border-radius: 4px;
}

.nav-text a:hover{
    background-color: #1a83ff;
}

.nav-menu-items {
    width:100%;
}

.navbar-toggle {
    background-color: #2F4050;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span{
    margin-left: 16px;
}