/* Popup style */
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    backdrop-filter: blur(1px);
  }
   
  .box {
    position: relative;
    width: 95%;
    margin: auto;
    height: auto;
    max-height: 90vh;
    margin-top: calc(100vh - 90vh - 20px);
    background: #1222358c;
    border-radius: 4px;
    padding: 30px;
    /* border: 1px solid #999; */
    /* overflow: hidden; */
    z-index: 100;

  }
   
  .close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    color:white;
    right: calc(8% - 63px);
    top: calc(100vh - 87vh - 33px);
    background: #ededed00;
    width: 25px;
    height: 25px;
    /* border-radius: 50%; */
    line-height: 20px;
    text-align: center;
    font-size: 20px;
    z-index: 100;

  }