@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  box-sizing: border-box;
  margin : 0;
  padding: 0;
  font-family: 'Lato',sans-serif;
}

.horizontal_bar{
  background-color: rgb(29, 28, 53);
  height: 2px;
}
.home{
  background-color: rgba(0, 0, 0, 0.39);
  height: 900px;
  padding-left: 310px;
  color: white;
  text-align: center;
  align-items: center;
}
.home_quote{
  width: 900px;
  padding-top: 150px;
  font-weight:500;
  font-size:39px;
  font-family: 'Lato',sans-serif;
    /* display: flex; */
  color: rgb(219, 241, 255);
  }
.home_author{
    padding-left: 650px;
    padding-top: 10px;
    font-weight:500;
    font-size:4vh;
    font-family: 'Lato',sans-serif;
      /* display: flex; */
      color: rgb(196, 217, 230);
    }
.home_para{
  width: 900px;
  padding-top: 100px;
  font-weight:500;
  font-size:3vh;
  font-family: 'Lato',sans-serif;
    /* display: flex; */
    color: rgb(196, 217, 230);
  }

.home_img{
  height:900px;
  color: white;
}

.instancespecs,
.healthmetrices
{
  padding-left: 230px;
  padding-top: 10px;
  display: flex;
}

#heading {
  height: 65px;
  width: 100%;
}

#label {
  font-size: smaller;
  margin: 10px;
}

#togglelist {
  width: 130px;
  margin: auto;
  margin-left: 20px;
  height: 25px;
}

#togglelist_prices {
  width: 130px;
  margin: auto;
  margin-right: 0%;
  margin-left: 20px;
  height: 25px;
}

.togglelist_item{
  background-color: black;
  font-size: 1000px;
}

#charts {
  margin-left: 200px;
  margin-top: 20px;
  width: 75%;
  height: 80%;
  /* border-width: 2px;
  border-color: black;
  border-style: solid; */

}

.donut {
  padding-left: 230px;
  display: flex;
}
.list_donut {
  margin : auto;
  width: 200px;
  /* background-color: black; */
}

.popup{
  background-color: rgba(76, 80, 80, 0.275);
  height: 100vh;
  width: 100%;
  top : 0;
  left: 0;

  position: fixed;
}

#popup_text{
  /* visibility: hidden; */
  position: fixed;
  background-color: black;
}

.datepicker{
  margin: auto;
  height: 30px;
  position: absolute;
  z-index: 10;
}

.price_button {
  margin: auto;
  height: 30px;
  width: 20vh;
  /* position: absolute; */
}


.instancedetails{
  font-size: 12px;
  margin:5px;
}

.popup_box {
  height:90%;
  width: 23%;
  margin: 10px;
  z-index: 9;
  /* box-shadow: 5px 10px 20px 20px  rgb(30, 56, 71); */
  display:inline-flex;
  background-color: #eeeeee;
  border-radius: 5px;
}

.popup_box:hover {

  background-color: #ffffff;
  transform: scale(1.04);

}

.popup_container {
  overflow-x:auto;
  /* scroll-margin: 10px; */
  overflow-y: hidden;
  white-space: nowrap;
  height: 500px;
}

.Pricing_box{
  height: 50%;
  /* display: block; */
  text-align: center;
  width: 300px;
  font-size: large;
}

#pricing_label {
  font-size: 40px;
  font-weight: bolder;
  color: rgb(0, 119, 119);
}

#estimate_price_label {
  color: white;
}
#estimate_price_text {
  margin-left: 5%;
  height: auto;
  width: 5%;
}


#specs_label {
  font-size: 15px;
}
#hour_label {
  font-size: 45px;
  color:rgb(0, 133, 55)
}
#day_label {
  font-size: 25px;
}

.specs_ram_cpu{
  height: max-content;
  width: auto;
  margin: 5%;
}


.wrapper::-webkit-scrollbar {
    display: block;
    width: 5px;
}
.wrapper::-webkit-scrollbar-track {
    background: transparent;
}
    
.wrapper::-webkit-scrollbar-thumb {
    background-color: red;
    border-right: none;
    border-left: none;
}

.wrapper::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
}

.wrapper::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}


.instanceprices {
    padding-left: 230px;
    padding-top: 10px;
    display: flex;

}

#ondemandcontainer {
  margin-left: 230px;
  overflow-x:auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 500px;
  z-index: 0;
}

.ondemandpricebox {
  height:90%;
  margin: 10px;
  /* box-shadow: 5px 10px 20px 20px  rgb(30, 56, 71); */
  background-color: #eeeeee;
  border-radius: 5px;
}

.ondemandpricebox:hover {

  background-color: #ffffff;
  transform: scale(1.04);
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}